<header class="header-bg sticky top-0 z-50">
  <div class="dark-bg block">
    <div class="wrapper">
      <div class="flex justify-between items-center py-2 flex-wrap gap-y-1">
        <ul class="flex gap-x-4 sm:gap-x-10 flex-wrap items-center">
          <li>
            <a href="/" target="_blank" class="">
              <img src="/frontassets/images/contol-logo.png" alt="contol"
                class="w-[70%] bg-white py-[2px] px-2 rounded">
            </a>
          </li>
        </ul>

        <div class="ml-3 sm:ml-0">
          <a href="javascript:void(0)" id="distributer-btn"
            class="text-sm font-normal block head-animi-btn primary-bg rounded-full">
            <span class="head-animi-child-btn px-2 py-[2px] text-white rounded-full">Become A Distributor</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <nav class="flex justify-between items-center py-3">

      <div class="flex justify-between items-center gap-2"> <a href="/"><img src="/frontassets/images/logo.svg"
            alt="logo" class="" /></a>
        <a href="/" target="_blank" class="inline-block">
          <ul class="market-ticket ">
            <!-- <li>Contol</li> -->
            <li class="mr-3">69.00</li>
            <li class="share-price share-price-high" id="market-data">0.05(0.07%)</li>
            <!-- <li class="share-price share-price-high" id="quoteData"></li> -->
          </ul>
        </a>
      </div>
      <a href="javascript:void(0)" class="mobile-nav py-2 px-3" id="mobile-sidebar-btn">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.28613 7.49999C4.28613 6.90825 4.76583 6.42856 5.35756 6.42856H25.7147C26.3065 6.42856 26.7861 6.90825 26.7861 7.49999C26.7861 8.09173 26.3065 8.57142 25.7147 8.57142H5.35756C4.76583 8.57142 4.28613 8.09173 4.28613 7.49999Z"
            fill="black" />

          <path
            d="M4.28613 14.9998C4.28613 14.408 4.76583 13.9283 5.35756 13.9283L17.1433 13.9286C17.735 13.9286 18.2147 14.4083 18.2147 15C18.2147 15.5918 17.735 16.0714 17.1433 16.0714L5.35756 16.0712C4.76583 16.0712 4.28613 15.5914 4.28613 14.9998Z"
            fill="black" />

          <path
            d="M5.35756 21.4283C4.76583 21.4283 4.28613 21.908 4.28613 22.4998C4.28613 23.0914 4.76583 23.5711 5.35756 23.5711H23.5718C24.1636 23.5711 24.6433 23.0914 24.6433 22.4998C24.6433 21.908 24.1636 21.4283 23.5718 21.4283H5.35756Z"
            fill="black" />
        </svg>
      </a>

      <div class="flex items-center justify-between gap-y-2 gap-x-4 destop-header">
        <ul class="flex justify-between items-center gap-x-4">
          <li>
            <a href="/" class="text-white text-base inline-block py-2">Home
            </a>
          </li>

          <li class="dropdown">
            <a href="javascript:void(0)" class="py-2 text-white text-base flex gap-x-1 dropdown-toggle">About

              <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span></a>

            <div class="dropdown-menu origin-top-right shadow-lg bg-white ring-1 ring-black ring-opacity-5">
              <ul class="py-1 nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/about-us" role="menuitem">About Company</a>
                </li>

                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/blog" role="menuitem">Blog</a>
                </li>

                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/certificates" role="menuitem">Certificates</a>
                </li>

                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/mission-and-vision" role="menuitem">Mission & Vision</a>
                </li>
                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/management-team" role="menuitem">Management</a>
                </li>

                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/career" role="menuitem">Career with us</a>
                </li>
                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/events" role="menuitem">Events</a>
                </li>

              </ul>
            </div>
          </li>

          <li class="dropdown">
            <a Products href="javascript:void(0)"
              class="py-2 text-white text-base flex gap-x-1 dropdown-toggle">Products

              <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
            <div class="dropdown-menu origin-top-right absolute shadow-lg bg-white ring-1 ring-black ring-opacity-5">
              <ul class="py-1 nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/newproducts" role="menuitem">
                    New Product
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li>
            <a href="/services" class="text-white text-base inline-block py-2">Services</a>
          </li>

          <li class="dropdown">
            <a href="javascript:void(0)" class="text-white py-2 text-base flex gap-x-1 dropdown-toggle">Investor
              <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span></a>
            <div class="dropdown-menu origin-top-right absolute shadow-lg bg-white ring-1 ring-black ring-opacity-5">
              <ul class="py-1 nav-dropdown scroll-navdropdown" role="menu" aria-orientation="vertical"
                aria-labelledby="options-menu">
                <li class="mx-3 border-b-2 border-solid border-[#f2f2f2]">
                  <a href="/investor" class="investor-category-menu">
                    New Investor
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li>
            <a href="/contact-us" class="text-white text-base inline-block py-2">Contact us
            </a>
          </li>
          <li>
            <a href="/facilities" class="text-white text-base inline-block py-2">
              Facilities
            </a>
          </li>
          <li>
            <a href="/gallery" class="text-white text-base inline-block py-2">
              Gallery
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</header>

<aside class="mobile-header hidden bg-black px-3 py-4" id="mobile-header">
  <div class="relative">
    <span id="mobile-sidebar-close" class="close-sidebar">&times;</span>
    <ul>
      <li class="py-3 px-4">
        <a href="/" class="text-white text-base inline-block">Home
        </a>
      </li>

      <li class="py-3 px-4 accordion-item pr-1">
        <a href="javascript:void(0)" class="text-white text-base flex gap-x-1" data-accordion-toggle>About

          <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span></a>

        <div class="accordion-content mt-2">
          <ul class="py-1 nav-dropdown mobile-navbardrop" role="menu" aria-orientation="vertical"
            aria-labelledby="options-menu">
            <li class="mr-1">
              <a href="/about-us" role="menuitem">About Company</a>
            </li>

            <li class="mr-1">
              <a href="/blog" role="menuitem">Blogs</a>
            </li>
            <li class="mr-1">
              <a href="/certificates" role="menuitem">certificates</a>
            </li>

            <li class="mr-1">
              <a href="/mission-and-vision" role="menuitem">Mission & Vision</a>
            </li>
            <li class="mr-1">
              <a href="/management-team" role="menuitem">Management</a>
            </li>
            <!-- <li class="mr-1">
              <a href="/facilities" role="menuitem">Facilities</a>
            </li> -->
            <li class="mr-1">
              <a href="/career" role="menuitem">Career with us</a>
            </li>
            <li class="mr-1">
              <a href="/events" role="menuitem">Events</a>
            </li>

          </ul>
        </div>
      </li>

      <li class="accordion-item py-3 px-4 pr-1">
        <a Products href="javascript:void(0)" class="text-white text-base flex gap-x-1" data-accordion-toggle>Products

          <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span>
        </a>

        <div class="accordion-content mt-2">
          <ul class="py-1 nav-dropdown mobile-navbardrop" role="menu" aria-orientation="vertical"
            aria-labelledby="options-menu">
            <li class="mr-1">
              <a href="/newPoduct" data-id="" role="menuitem">
                New Product
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="py-3 px-4">
        <a href="/services" class="text-white text-base inline-block">Services</a>
      </li>

      <li class="accordion-item py-3 px-4 pr-1">
        <a href="javascript:void(0)" class="text-white text-base flex gap-x-1" data-accordion-toggle>Investor
          <span class="text-[10px]"><i class="fa-solid fa-chevron-down"></i></span></a>

        <div class="accordion-content mt-2">
          <ul class="py-1 nav-dropdown mobile-navbardrop" role="menu" aria-orientation="vertical"
            aria-labelledby="options-menu">
            <li class="mr-1">
              <a href="/investor" role="menuitem">
                New Investor
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="py-3 px-4">
        <a href="/contact-us" class="text-white text-base inline-block">Contact us
        </a>
      </li>
      <li class="py-3 px-4">
        <a href="/facilities" class="text-white text-base inline-block">Facilities
        </a>
      </li>
      <li class="py-3 px-4">
        <a href="/gallery" class="text-white text-base inline-block">Gallery
        </a>
      </li>
    </ul>


  </div>
</aside>