<div class="ad-auth-wrapper" data-aos="flip-up">
    <div class="ad-auth-box">
        <div class="row main-img align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-5 col-12 d-none d-sm-block">

                <div class="auth-main-125 mb-5 ">
                    <h3>
                        wELCOME bACK
                    </h3>

                    <p class=""> Enter your email and we will send you a reset link</p>

                </div>

                <div class="ad-auth-img">
                    <img src="/adminassets/images/auth-img1.png" alt="" class="mx-auto d-flex" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-5 main-sec-img col-12  d-sm-block">
                <div class="ad-auth-content align-items-center ad-auth-content-1">
                    <form id="recoverform" class="validation-form-container" method="post">
                        <div class="text-left">
                            <h2><span class="mb-5">Forgot Password !</span></h2>
                            <p class="mb-2">Enter your email and we will send you a reset link</p>
                        </div>
                        <style>
                            #email-error {
                                top: 17px;
                            }
                        </style>
                        <div class="ad-auth-form">
                            <div class="ad-auth-feilds  rond-input">
                                <label class="col-form-label label-col-1 mt-3">Enter Email Address <span
                                        style="color: red;">*</span></label>
                                <input type="text" autofocus name="email" id="email" class="ad-input in_field"
                                    autocomplete="off" placeholder="Enter your email" />

                            </div>
                        </div>
                        <!-- 
                        <div class="mb-6">
                            <div id="recaptcha1"></div>
                            <input type="hidden" class="hiddenRecaptcha" name="hiddenRecaptcha" id="hiddenRecaptcha">
                            <div id="captcha_error" class="captcha_error"> </div>
                        </div> -->

                        <div class="ad-auth-btn">
                            <button type="submit"
                                class="effect-btn btn btn-block w-100 button-colro-1 squer-btn login_btn_cls"
                                id="submitBtn"><i class="fa fa-spin fa-spinner mr-2"
                                    id="btn_spinner"></i>Submit</button>
                        </div>
                        <p id="recovermsg"></p>
                        <p class="ad-register-text text-center">Already have an account ? <a
                                style="color:var(--primaryColor)" href="/admin">Login</a></p>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="ad-notifications ad-error">
        <p><span>Duhh!</span>Something Went Wrong</p>
    </div>
</div>