<div class="ad-auth-wrapper">
    <div class="ad-auth-box">
        <div class="row main-img align-items-center">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-4 col-12 d-none d-sm-block">

                <div class="auth-main-125 mb-5">
                    <h3>
                        wELCOME bACK
                    </h3>

                    <p>
                        Please Enter Your login Details to Continue </p>

                </div>

                <div class="ad-auth-img">
                    <img src="/adminassets/images/auth-img1.png" alt="" class="mx-auto d-flex" />
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-5 main-sec-img col-12  d-sm-block ">
                <div class="ad-auth-content-1 align-items-center">
                    <div class="text-center">

                        <div class="text-center">
                            <img src="/adminassets/images/sent-pass-done.png" class="my-4"
                                style="max-width: 140px;margin: auto;">
                        </div>

                        <h2><span class="mb-5" style="font-size: 20px;font-weight: 700; "> You’re Password Already
                                Reset </span>
                        </h2>
                        <p class="mb-4">You can now log in with your new password. If you have any further issues or
                            concerns, please contact our support team.</p>
                    </div>

                    <div class="ad-auth-btn">
                        <a href="<%= admin %>" class="effect-btn btn btn-block w-100 button-colro-1 mb-4 squer-btn ">
                            Login
                        </a>

                    </div>
                    <p id="loginmsg"></p>
                </div>
            </div>

        </div>

    </div>
    <div class="ad-notifications ad-error">
        <p><span>Duhh!</span>Something Went Wrong</p>
    </div>
</div>
</div>