<div class="ad-auth-wrapper" data-aos="flip-up">
    <div class="ad-auth-box">
        <div class="row main-img align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-4 col-12 d-none d-sm-block">
                <div class="auth-main-125 mb-5">
                    <h3>WELCOME bACK</h3>
                    <p>Please set Your new password </p>
                </div>
                <div class="ad-auth-img">
                    <img src="/adminassets/images/auth-img1.png" alt="" class="mx-auto d-flex" />
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 py-4 main-sec-img col-12  d-sm-block">
                <div class="ad-auth-content align-items-center">
                    <form id="resetFrm" class="validation-form-container" method="post">
                        <input type="hidden" name="email" value="<%= email %> ">
                        <div class="text-left">
                            <h2><span class="mb-5">Reset Password</span></h2>
                            <p class="mb-1">Enter Your New Password That You Remind Always!</p>
                        </div>
                        <div class="ad-auth-form mb-2 mt-1">
                            <div class="ad-auth-feilds ui mb-2 left labeled input rond-input">
                                <label class="col-form-label label-col-1 mt-3">Password <span
                                        style="color: red;">*</span></label>
                                <input type="password" autofocus name="new_password" autocomplete="off"
                                    id="new_password" class="ad-input in_field" placeholder="Enter New Password" />
                                <!--  <div class="ui corner label lable-152">
                                    <i class="asterisk icon">*</i>
                                </div> -->
                                <span toggle="#new_password"
                                    class="fa fa-eye-slash field-icon toggle-login-password pass_eye pass_eye-152hr"
                                    onclick="togglePassword(1);"></span>
                            </div>

                            <div class="ad-auth-feilds uimb-3 mb-5 left labeled input rond-input">
                                <label class="col-form-label label-col-1 mt-3">Confirm Password <span
                                        style="color: red;">*</span></label>
                                <input type="password" autofocus name="confirm_password" autocomplete="off"
                                    id="confirm_password" class="ad-input in_field"
                                    placeholder="Enter Confirm New Password" />
                                <!--  <div class="ui corner label lable-152">
                                    <i class="asterisk icon">*</i>
                                </div> -->
                                <span toggle="#confirm_password"
                                    class="fa fa-eye-slash field-icon toggle-login-password2 pass_eye pass_eye-152hr"
                                    onclick="togglePassword(2);"></span>
                            </div>

                        </div>


                        <!-- <div class="mb-5">
                            <div id="recaptcha1"></div>
                            <input type="hidden" class="hiddenRecaptcha" name="hiddenRecaptcha" id="hiddenRecaptcha">
                            <div id="captcha_error" class="captcha_error"> </div>
                        </div> -->

                        <div class="ad-auth-btn">
                            <button type="submit"
                                class="effect-btn btn btn-block w-100 button-colro-1 squer-btn login_btn_cls"
                                id="submitBtn"><i class="fa fa-spin fa-spinner mr-2" id="btn_spinner"></i>Login</button>
                        </div>

                        <p id="resetmsg"></p>
                        <p class="ad-register-text text-center">Already have an account ? <a
                                style="color:var(--primaryColor)" href="/admin">Login</a></p>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="ad-notifications ad-error">
        <p><span>Duhh!</span>Something Went Wrong</p>
    </div>
</div>
</div>