<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #eff0f2; font-family: 'Poppins', Arial, sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #eff0f2;">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0"
                    style="background-color: #ffffff; border-radius: 8px; overflow: hidden;">
                    <!-- Header Section -->
                    <tr>
                        <td style="background-color: #081b3e; padding: 20px; text-align: center;">
                            <img src="<%=fornt_url%>forntassets/images/logo.png"
                                style="width: 200px; display: block; margin: 0 auto;" alt="logo" />
                        </td>
                    </tr>
                    <!-- Content Section -->
                    <tr>
                        <td style="padding: 20px;">
                            <p style="font-size: 16px; font-weight: 500; color: #000; margin-bottom: 10px;">
                                Dear <strong>
                                    Admin
                                </strong>,
                            </p>
                            <p style="font-size: 16px; font-weight: 400; color: #000; margin-bottom: 20px;">
                                We have received a request to reset your password for the admin account.
                                <br>
                                To reset your password, please click on the button below:
                            </p>

                            <!-- Button Section -->
                            <div style="padding: 20px 0; text-align: center;">
                                <a href="<%=fornt_url%>"
                                    style="padding: 10px 20px; color: #fff; background-color: #ffcc00; border-radius: 8px; display: inline-block; font-weight: 700; font-size: 18px; text-decoration: none;">Reset
                                    Password</a>
                            </div>
                            <p style="font-size: 16px; font-weight: 400; color: #000; margin-bottom: 20px;">
                                If you did not request this password reset, please disregard this email. The link will
                                expire in 15 Minutes for your security.
                            </p>

                        </td>
                    </tr>
                    <!-- Footer Section -->
                    <tr>
                        <td style="text-align: center; padding: 10px; background-color: #f9f9f9;">
                            <p style="font-size: 14px; color: #333333; font-weight: 400;">
                                ©2024 <a href="https://mydigioffice.com/"
                                    style="color: #1255cc; text-decoration: underline;">https://urielentfinal.volansoft.in/</a>
                                - All Rights Reserved.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>